.git
.gitignore

node_modules
*/node_modules

.next
*/.next

dist
*/dist

build
*/build

coverage
.cache
.turbo

.env
.env.*
backend/.env
backend/.env.*
worker/.env
worker/.env.*
frontend/.env
frontend/.env.*
frontend/.env.local

*.log
*.zip
.DS_Store
._*
